APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stdout
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# SQLログを出力
LOG_SQL_ENABLE=true
LOG_SQL_SLOW_QUERY_TIME=1000

# For Dockerコンテナ
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
SESSION_DRIVER=file
SESSION_LIFETIME=120

# 開発用メールサーバー(mailpit)
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="morishi-app@example.com"
MAIL_FROM_NAME="${APP_NAME}"

QUEUE_CONNECTION=sync # sync, database, redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_OPEN_API_SPEC_VERSION=3.1.0

# NOTE: SQID_ALPHABETを変更する場合、既存レコードのSQIDが変わるため注意
SQID_ALPHABET=
